.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 16px 24px;
    background-color: var(--color-primary-light);
    transform: translateX(100%); // щоб приховатит вікно АБО властивість display: none;
    transition: transform 0.4s;
    z-index: 1;

    &.is-open{
        transform: translateX(0%); // вертаємо вікно
    }

    &__btn-close{
        position: absolute;
        top: 16px;
        right: 24px;
    }
    &__logo {
        margin-bottom: 32px;
    }

    &__item{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    
    &__link {
    color: var(--color-primary-dark);
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;

    &:hover {
      color: var(--color-brand-normal);
    }
  }
}   

